In [1]:
2+2

4

In [3]:
34 + (45 * 2)

124

In [4]:
(34 + 45) * 2

158

In [5]:
(40 - 4 * 2) / 4

8.0

In [35]:
5 / 2

2.5

In [7]:
5 / 2.

2.5

In [8]:
14 % 3 # Modulus operator, it returns the remainder of the integer division

2

In [9]:
4 ** 2

16

In [11]:
x = 100000
print( type(x) )
print( type(3.) )

<class 'int'>
<class 'float'>

In [13]:
a = "Python is 'literally' awesome. Isn\'t it?"
b = 'Python is "literally" awesome. Isn\'t it?'
print(a)
print(b)

Python is 'literally' awesome. Isn't it?
Python is "literally" awesome. Isn't it?

In [21]:
a = 'Hello '
b = 'World'
c = a + b
print(c)
print( (a+b) * 3)

Hello World
Hello WorldHello WorldHello World

In [32]:
print(c[0])
print(c[1:4])
print(c[-1])
print(c[3:])
print(c[-6:])  # if the first or last index is omitted, it defaults to zero
print(c[:8:2]) # a third index defines the step. Here, in every two letters one is selected
print(c[::-1]) # all charaters in reverse order

H
ell
d
lo World
 World
HloW
dlroW olleH

In [33]:
x = "hello ' "
print(x)
x = 'hello \"\' '
print(x)

hello '
hello "'

In [34]:
pi = 3.14
print("the value of pi is {}".format(pi))
print("the value of pi is %f" % pi)

the value of pi is 3.14
the value of pi is 3.140000

## Compound data types

### Lists

In [59]:
example_list = [1, 2, 3, 5, 7, 11, "string", 6.7]
print(example_list)
print(type(example_list[-1]))

[1, 2, 3, 5, 7, 11, 'string', 6.7]
<class 'float'>

In [45]:
print(example_list[2:6])
print(example_list[5])
print(example_list[6])

[3, 5, 7, 11]
11
string

In [60]:
new_list = example_list + ["another", "list"]
print(new_list)
print(example_list * 2)

[1, 2, 3, 5, 7, 11, 'string', 6.7, 'another', 'list']
[1, 2, 3, 5, 7, 11, 'string', 6.7, 1, 2, 3, 5, 7, 11, 'string', 6.7]

In [61]:
example_list[0] = "new element"
print(example_list)  # mutable

['new element', 2, 3, 5, 7, 11, 'string', 6.7]

In [62]:
example_list[3:7] = [234, 456]
print(example_list)

['new element', 2, 3, 234, 456, 6.7]

In [63]:
example_list.append("last element")
print(example_list)

['new element', 2, 3, 234, 456, 6.7, 'last element']

In [64]:
print(len(example_list))        # length of the list
print(example_list)

7
['new element', 2, 3, 234, 456, 6.7, 'last element']

In [65]:
print(len(example_list))        # length of the list
print(example_list)
print(example_list.pop(3))      # returns element with index 3 and removes it
print(example_list)

7
['new element', 2, 3, 234, 456, 6.7, 'last element']
234
['new element', 2, 3, 456, 6.7, 'last element']

In [68]:
example_list.append('new element')
print(example_list.index('new element'))  # returns index of element

0

In [70]:
print(range(10))
print(range(2, 20, 4))

range(0, 10)
range(2, 20, 4)

In [72]:
print(list(range(10)))
print(list(range(4, 10)))
print(list(range(2, 20, 4)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6, 7, 8, 9]
[2, 6, 10, 14, 18]

In [73]:
a=[1, 2, [7,2,8]]
print(a[0])
print(a[2])
print(a[2][1])

1
[7, 2, 8]
2

## Tuples

In [74]:
my_tuple = 23, 45, 45, "last"
my_tuple = (23, 45, 45, "last")
print(my_tuple)
print(my_tuple[1])

(23, 45, 45, 'last')
45

In [76]:
my_tuple[0] = 3
my_tuple.append(3)  # immutable

AttributeError: ignored

In [77]:
a, b, c, d = my_tuple
print(a)
print(b)
print(c)
print(d)

23
45
45
last

## Dictionaries

In [78]:
my_dict = {'abraham': 11, 'josef': 22, 'carla': 33}
print(my_dict)
print(my_dict['abraham'])
print(my_dict['carla'])

{'abraham': 11, 'josef': 22, 'carla': 33}
11
33

In [80]:
my_dict['franz'] = 99
print(my_dict)
print(my_dict.keys())
print(my_dict.values())

{'abraham': 11, 'josef': 22, 'carla': 33, 'franz': 99}
dict_keys(['abraham', 'josef', 'carla', 'franz'])
dict_values([11, 22, 33, 99])

### Membership operators

In [81]:
print('franz' in my_dict)
print('anne' in my_dict)
print('last' in my_tuple)
print(2 in [1,2,3])

True
False
True
True

# Basic programming - control flow

## The ```if``` statement

In [86]:
x = 1

if(x == 1):
     print('x equals to 1')

x equals to 1

In [87]:
a = 1
b = 2
if (a == 1):
    print("a is equal to 1")
    if b == 2:
        print('b is equal to 2')

a is equal to 1
b is equal to 2

In [102]:
t = 10

if (t >= 20) and t < 30:
    print("nice!")
elif t>=30:
    print("It's too hot!")
else:
    print("It's cold!")

nice!

## The ```for``` statement

In [90]:
for elem in example_list:
    print(elem, type(elem))

new element <class 'str'>
2 <class 'int'>
3 <class 'int'>
456 <class 'int'>
6.7 <class 'float'>
last element <class 'str'>
new element <class 'str'>

In [91]:
example_list

['new element', 2, 3, 456, 6.7, 'last element', 'new element']

In [92]:
for r in range(5):
    print(r ** 2)

0
1
4
9
16

In [93]:
for r in range(5):
    x=r*2
    print(x)

0
2
4
6
8

In [94]:
for r in range(5):
    x=r*2

print(x)

8

## while loop

In [104]:
x = 0

while x < 5:
    print(x)
    x = x + 1

0
1
2
3
4

In [106]:
x = 0

while True:
    print(x)
    x = x + 1
    if x > 5:
      break

0
1
2
3
4
5

In [ ]:
asdf
asdf
asdf # Kommentar

if True:
  asdf
  asdf
  asdf
  asdf

asdf
asdf
asdf
asdf

# Logical Operators

In [95]:
a=1
b=2
print(a == b)   # is a equal to b?
print(a < b)   # is a smaller than b?
print(a > b)   # is a bigger than b?
print(a != b)   # is a not equal to b?
print(a >= b)   # is a bigger than or equal to b?

False
True
False
True
False

In [107]:
my_boolean = (a >= b)
print(my_boolean)

False

In [108]:
a=1
b=2

print(a != b and b==2*a)
print(a!=b and b==3*a)
print(a==b or b==2*a)
print(not(a!=b))

True
False
True
False

In [109]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [110]:
print(True or True)   # True
print(True or False)  # True
print(False or True)  # True
print(False or False) # False

True
True
True
False

In [ ]:
#   x ^ 2 = 4   =>    x=2  oder  x=-2