<div align="center"> <h1>Basics of Python</h1>
    <h2><a href="...">Richard Leibrandt</a></h2>
</div>

# Symbols

Python uses symbols to references things. Let's play with that.

In [1]:
a = 1
a

1

In [2]:
b = 1.234
b

1.234

In [3]:
c = a
c

1

In [4]:
a = 2
print(a)
print(c)

2
1

# Basic operations and data types

## Calculating

In [5]:
2 + 2

4

In [6]:
34 + 45 * 2

124

In [7]:
(40 - 4 * 2) / 4

8.0

The integer numbers (e.g. 2, 4, 20) have type `int`, the ones with a fractional part (e.g. 5.0, 1.6) have type `float`. If both operands are `int` the result will also be `int`. To have a `float` type result we have to make one of the operands a `float` (in this case adding a dot).

In [8]:
5 / 2

2.5

In [9]:
5 / 2.

2.5

In [10]:
14 % 3 # Modulus operator, it returns the remainder of the integer division

2

In [11]:
4 ** 2

16

## Numbers

Python supports three numerical types:

* int - plain integers
* float - floating point decimal numbers (just add a dot or use the constructor float(): e.g. 3. or float(3))
* complex - complex numbers (numbers of the form a+bj)

In general you don't need to worry about numerical types. Below you can see that Python automatically adjusts the numerical type according to the number:

In [12]:
x = 100000
print(type(x))
print(type(3.))
print(type(3+4j))

<class 'int'>
<class 'float'>
<class 'complex'>

## Strings

Strings can be expressed with double quotes or single quotes. Quotes can be included in the string if enclosed by a different type of quote. Special characters are escaped with a backslash:

In [13]:
a = "Python is 'literally' awesome. Isn\'t it?"
b = 'Python is "literally" awesome. Isn\'t it?'
print(a)
print(b)

Python is 'literally' awesome. Isn't it?
Python is "literally" awesome. Isn't it?

Strings can be concatenated with a + and repeated with a *:

In [14]:
a = 'Hello '
b = 'World'
c = a+b
print(c)
print((a+b)*3)

Hello World
Hello WorldHello WorldHello World

Strings can be indexed (starting in zero) and slicing is supported.

Here are some examples of slicing. Slicing is very important also for lists and arrays. Feel free to play with it! See what happen when you use an index that is too large.

In [15]:
print(c[0])
print(c[1:4])
print(c[-6:])  # if the first or last index is omitted, it defaults to zero
print(c[:3])
print(c[:8:2]) # a third index defines the step. Here, in every two letters one is selected
print(c[::-1]) # all charaters in reverse order

H
ell
 World
Hel
HloW
dlroW olleH

We can include quotation symbols into strings:

In [16]:
x = "hello ' "
print(x)
x = 'hello \"\' '
print(x)

hello '
hello "'

### Including variables in strings

Variables can be included on a string. There is more than one way to do this: using the [```format()```](https://docs.python.org/2/library/string.html#format-examples) string method and using the [```%```](https://docs.python.org/2/library/stdtypes.html#string-formatting-operations) operator.

In [17]:
pi = 3.14
print("the value of pi is {}".format(pi))
print("the value of pi is %f" %pi)

the value of pi is 3.14
the value of pi is 3.140000

## Compound data types

Compound data types are used to group together other values. Compound data types are: lists, tuples, sets and dictionaries.

### Lists

Perhaps the most versatile compound data type is the list , written as a list of values separated by a comma, between square brackets.

In [18]:
example_list = [1, 2, 3, 5, 7, 11, "string", 6.7]

Lists can be sliced and indexed. Slicing returns a new list and indexing returns a value.

In [19]:
print(example_list[2:6])
print(example_list[5])
print(example_list[6])

[3, 5, 7, 11]
11
string

Like strings, lists can be concatenated and repeated using the + and * operators:

In [20]:
new_list = example_list + ["another", "list"]
print(new_list)
print(example_list*2)

[1, 2, 3, 5, 7, 11, 'string', 6.7, 'another', 'list']
[1, 2, 3, 5, 7, 11, 'string', 6.7, 1, 2, 3, 5, 7, 11, 'string', 6.7]

It's possible to assign values to list elements and to slices (as opposed to strings).

In [21]:
example_list[0] = "new element"
print(example_list)

['new element', 2, 3, 5, 7, 11, 'string', 6.7]

In [22]:
example_list[3:7] = [234,456]
print(example_list)

['new element', 2, 3, 234, 456, 6.7]

One can append values to the end of the list using the ```append()``` method:

In [23]:
example_list.append("last element")
print(example_list)

['new element', 2, 3, 234, 456, 6.7, 'last element']

Other useful methods are:

In [24]:
print(len(example_list))        # length of the list
print(example_list)
print(example_list.pop(3))      # returns element with index 3 and removes it
print(example_list)
print(example_list.index(456))  # returns index of element

7
['new element', 2, 3, 234, 456, 6.7, 'last element']
234
['new element', 2, 3, 456, 6.7, 'last element']
3

A list with a sequence of values can be created with ```range()```:

In [25]:
print(range(10))
print(range(2, 20, 4))

range(0, 10)
range(2, 20, 4)

Lists can be nested:

In [26]:
a = [1,2,[7,2,8]]
print(a[0])
print(a[2])
print(a[2][1])

1
[7, 2, 8]
2

### Tuples

A tuple consists of a number of values separated by commas. Usually these values are enclosed in parentheses, but this is not necessary.

In [27]:
my_tuple = 23, 45, 45, "last"
print(my_tuple)
print(my_tuple[1])

(23, 45, 45, 'last')
45

Contrary to lists, tuples are imutable, i.e., once set, its values can't be changed:

In [28]:
%%script false --no-raise-error

my_tuple[0]=3

Tuples can be "unpacked" like this:

In [29]:
a, b, c, d = my_tuple
print(a)
print(b)
print(c)
print(d)

23
45
45
last

### Sets

Sets are unordered collections with no duplicated elements:

In [30]:
my_list = [1,2,3,3,2,4,5,6,6,6,4]
my_set = set(my_list)   # a_set=
print(my_set)

{1, 2, 3, 4, 5, 6}

Sets also support mathematical operations like union, intersection, difference, and symmetric difference.

In [31]:
other_set = {4,5,6,7,8,9,10}
print(my_set - other_set) # elements in my_set but not in other_set
print(my_set | other_set) # union
print(my_set & other_set) # intersection
print(my_set ^ other_set) # elements that are exactly in one set

{1, 2, 3}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{4, 5, 6}
{1, 2, 3, 7, 8, 9, 10}

### Dictionaries

A dictionary can be thought as a set of ```key:value``` pairs (having the keys unique values). A dictionary allows one to store a value with a key and to retrieve it using the same key.

In [32]:
my_dict = {'abraham': 11, 'josef': 22, 'carla': 33}
print(my_dict)
print(my_dict['abraham'])
print(my_dict['carla'])

{'abraham': 11, 'josef': 22, 'carla': 33}
11
33

New ```key:value``` pairs can be added and the key method returns a list of keys in the dictionary.

In [33]:
my_dict['franz'] = 99
print(my_dict)
print(my_dict.keys())

{'abraham': 11, 'josef': 22, 'carla': 33, 'franz': 99}
dict_keys(['abraham', 'josef', 'carla', 'franz'])

### Membership operators

Membership operators test if a value is included on a list, tuple, set or dictionary:

In [34]:
print('franz' in my_dict)
print('anne' in my_dict)
print(1 in my_set)
print('last' in my_tuple)
print(2 in [1,2,3])

True
False
True
True
True

# Basic programming - control flow

## The ```if``` statement

The ```if``` statement is used to conditionally execute code. For example, in the code below, the ```print``` statement is executed only if the condition (```x == 1```) is true:

In [35]:
x = 1

if x == 1:
    print('x equals to 1')

x equals to 1

In [36]:
a = 1
b = 2
if (a == 1):
    print("a is equal to 1")
    if b == 2:
        print('b is equal to 2')

a is equal to 1
b is equal to 2

You can also include ```else``` and ```elif``` statements. Try changing the value of ```t``` in the next cell

In [37]:
t = 24

if t >= 20 and t < 30:
    print("nice!")
elif t >= 30:
    print("It's too hot!")
else:
    print("It's cold!")

nice!

## The ```for``` statement

The ```for``` statement is used to loop over a list.

In [38]:
for elem in example_list:
    print(elem, type(elem))

new element <class 'str'>
2 <class 'int'>
3 <class 'int'>
456 <class 'int'>
6.7 <class 'float'>
last element <class 'str'>

If you need to loop over a sequence of numbers use ```range()```:

In [39]:
for r in range(5):
    print(r**2)

0
1
4
9
16

## The ```while``` statement

The ```while``` statement executes code while a condition is satisfied.

In [40]:
x = 0

while x<5:
    print(x)
    x = x+1

0
1
2
3
4

## The ```break``` and ```continue``` statements

 

The ```break``` statement breaks out of its smallest enclosing loop.

The code below produces a list with nested lists with all numbers up a certain number.

In [41]:
l = []   # creates empty list
for num in range(1,7):
    al = []  # creates another empty list
    for x in range(num):
        al.append(x)  
    l.append(al)
        
print(l        )

[[0], [0, 1], [0, 1, 2], [0, 1, 2, 3], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4, 5]]

If we insert a ```break``` statement in the inner loop:

In [42]:
l = []   # creates empty list
for num in range(1,7):
    al = []  # creates another empty list
    for x in range(num):
        if x == 3:
            break  # when x == 3 the program exits the loop in x
                   #  (the lists never grow bigger than 3 elements)
        al.append(x)  
    l.append(al)
        
print(l        )

[[0], [0, 1], [0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

If we insert a ```continue``` statement in the inner loop:

In [43]:
l = []   # creates empty list
for num in range(1,7):
    al = []  # creates another empty list
    for x in range(num):
        if x == 3:
            continue  # when x == 3 the program skips to the next step 
            # in the loop in x (the lists never include the value 3)
        al.append(x)
    l.append(al)
        
print(l   )

[[0], [0, 1], [0, 1, 2], [0, 1, 2], [0, 1, 2, 4], [0, 1, 2, 4, 5]]

## Indentation

In the previous examples, you can see how we can define what's inside each loop:  through *indentation*.

Let's try something:

In [44]:
for r in range(5):
    x = r*2
    print(x)

0
2
4
6
8

Now let's unindent the ```print``` statement:

In [45]:
for r in range(5):
    x = r*2
print(x)

8

The ```print``` is only executed after the ```for``` loop is finished.

An error occurs when the code has an unexpected indentation.

## Comparison operators

For the ```if``` statement we used the "equal to" comparison operator to evaluate if x was equal to 1.

There are more comparison operators:

In [46]:
a = 1
b = 2
print(a == b)   # is a equal to b?
print(a < b)    # is a smaller than b?
print(a > b)    # is a bigger than b?
print(a != b)   # is a not equal to b?
print(a >= b)   # is a bigger than or equal to b?

False
True
False
True
False

## Logical operators

More than one comparison operator can be used to form a condition using the logical operators:

In [47]:
a = 1
b = 2

print(a != b and b == 2*a)
print(a != b and b == 3*a)
print(a == b or b == 2*a)
print(not(a != b))

True
False
True
False

# Functions

A function is a reusable block of code used to perform an action. Functions are used to avoid writing the same piece of code many times. A function is defined by:

```
def function_name(argument1, argument2,...):
    statements
    return object
```    
The returned object can be anything. It's also possible that a function doesn't have a return statement. In that case it returns ```None```.


An example of a simple function is given below:

In [48]:
def myfunc(a,b):
    print("the arguments of the function are %d and %d"%(a,b))
    c= a+2*b
    return c

The function can now be called like this

In [49]:
result = myfunc(3,6)
print(result)

the arguments of the function are 3 and 6
15

In this case, the function's arguments need to be given in the right order.

Another example of a function that returns a tuple is given below.

In [50]:
def intdivision(dividend,divisor):
    intval = dividend/divisor
    remainder = dividend%divisor
    return intval, remainder

In [51]:
print(intdivision(11,3))
print(intdivision(divisor = 3, dividend = 11)) # same thing using keyword arguments (the order is not important))

(3.6666666666666665, 2)
(3.6666666666666665, 2)

Arguments can have a default value. Arguments with a default value can be omitted in the function call:

In [52]:
def fav_color(x = 'blue'):
    print("my favorite color is %s" %x)

In [53]:
fav_color('red')
fav_color()   # will fall back to the default value 'blue'

my favorite color is red
my favorite color is blue

## Lambda functions

Lambda functions are anonymous functions than can be used whenever a function object is required. They are useful when one needs a simple function (e.g. a one liner that is only used one time).

The lambda function has the form:  
> ```  lambda argument(s): returned expression``` 

It is very usefull, for example, when one needs to apply a function to all the elements on a list using the ```map()``` function:

In [54]:
map?

Init signature: map(self, /, *args, **kwargs)
Docstring:
map(func, *iterables) --> map object

Make an iterator that computes the function using arguments from
each of the iterables.  Stops when the shortest iterable is exhausted.
Type:           type
Subclasses:

In [55]:
mylist = range(5)
print(mylist)

range(0, 5)

In [56]:
map(lambda x: x**2, mylist)

# Useful techniques

## List comprehensions

List comprehensions provide a way to create lists in a single line of code, without having to use a loop.

Picking up the example for the Lambda function, an alternative way to produce the same result would be:

In [57]:
squares = []

for r in range(5):
    squares.append(r**2)
    
print(squares)

[0, 1, 4, 9, 16]

We can do the same using a list comprehension:

In [58]:
squares2 = [x**2 for x in range(5)]
print(squares2)

[0, 1, 4, 9, 16]

List comprehensions can have also conditional statements:

In [59]:
mylist = [x**2+3 for x in range(10) if x>5]
print(mylist)

[39, 52, 67, 84]

## Looping techniques

When we need to loop over a list and at the same time get the index of each element, the ```enumerate()``` function can be used

In [60]:
mylist = ['Mario', 'Pedro', 'Jean']

for i,x in enumerate(mylist):
    print(i, x)

0 Mario
1 Pedro
2 Jean

Two lists can be paired on a loop using the function ```zip()``` :

In [61]:
mylist = ['Mario', 'Pedro', 'Jean']
hobbies = ['spear fishing', 'surfing', 'tennis']

for y,x in zip(mylist, hobbies):
    print("%s's favorite hobby is %s" % (y,x))

Mario's favorite hobby is spear fishing
Pedro's favorite hobby is surfing
Jean's favorite hobby is tennis

# Modules and Packages

Like functions, modules help us to organize our code better.

Modules are files that contain Python code which can be imported to your program. This code can define functions, classes and variables.

Let's see an example. Using the text editor of your choice, paste the following code into an empty text file and rename it as "mymodule.py". This file must be in the same directory as the notebook.

```
def myfunction(a: str, b: str) -> str:
    return "{} and {} are the two arguments of this function".format(a,b)
```
Now let's import the module.

In [62]:
import my_module

Now the function ```myfunction(a,b)``` defined in the module is available.

In [63]:
my_module.myfunction("cactus", "tree")

AttributeError: module 'my_module' has no attribute 'myfunction'

This is a very simplistic example. Modules can be collected into huge packages like NumPy or Scipy that extend the out-of-the-box capabilities of Python.

## The ```import``` statement

As in the example above, the ```import``` statement  is used to import the module. A slightly different alternative is available:

In [ ]:
from my_module import my_function

my_function("hello", "goodbye")

Now the function is available without the module prefix..

Sometimes it is handy to give a shorter alias to the module name. For example:

In [ ]:
import my_module as mym

mym.my_function("Ok", "KO")

It's also possible to make all functions available without the prefix. However, this option is considered bad practise and should be used with care.

In [ ]:
from my_module import *

my_function("cat", "dog")

We can import classes via modules or directly:

In [ ]:
import pandas as pd

pd.DataFrame()

from pandas import DataFrame

DataFrame()

## Packages

* Packages can also be imported like modules
* instead of being one single file, packages are composed by a collection of modules
* these modules are organized in a directory that must have a file named ```__init__.py``` at its root.

## Important packages

There are many packages ready for you to use: in the [PyPi repository](https://pypi.python.org/pypi) there are, at the time this was writen, 342.798 packages available.

Some of the most important packages for data science are:

* NumPy - scientific computing with multidimensional arrays and lots of math tools - https://numpy.org
* Scipy - scientific tools like optimization and signal processing - https://scipy.org
* Pandas - data structures and analysis tools (bringing the data frame to Python) - https://pandas.pydata.org
* Scikit-learn - complete set of tools for data mining and machine learning - https://scikit-learn.org
* matplotlib - plotting library - https://matplotlib.org

## Package installation

Perhaps the simplest way to get up and running is to use a Python bundle that includes already many scientific packages like Anaconda.
Later you can add more packages.
If you already have Python on your computer you can install packages with [```pip```](https://pypi.python.org/pypi).

# Objects and Classes

In Python basically everything is an object. The standard way of designing own objects is by creating a class (here `Car`) and then initialing it. Then we can use the methods defined on the object. A method is something like a function, but it belongs to the object/class. It's first argument is always a "self".

In [ ]:
class Car:
    a = 1
    b = 2
    def drive(self):  # a method
        self.has_started = True
    def set_number_of_wheels(self, x):  # a method
        self.d = x

a = Car()  # initialise
b = Car()  # initialise

b.set_number_of_wheels(5)  # call a method

print(b.d)